<div id='slide-1' class='full'></div>
<div id='slide-2' class='full'
     data-0='top:100%;'
     data-500='top:0%;'
     ></div>
<div id='slide-3' class='full'
     data-0='top:200%;'
     data-1000='top:150%;'
     ></div>

<div id='content' style='background:transparent;'>
   <p class='quote'>
    <em>Independence is not a static condition; it is a continuous conquest, and in order to reach not only freedom, but also strength, and the perfection on one's powers, it is necessary to follow this path of unremitting toil.</em> <br/>
    <span style='float:right;'>Maria Montessori, The Abosrbent Mind</span>

   </p>
</div>
